{
  "presets": [
    "@babel/preset-env",
    "minify"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-private-methods"
  ],
  "only": [
    "./src/webdav.js",
    "./src/lib/**/*.js"
  ]
}
