/* Mini reset */
html,
body,
ul {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, Sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.loading > * {
    opacity: .5;
    background: url(../img/loading.gif) center center no-repeat;
}

.featherlight-content {
    max-width: 90%;
}

.featherlight-content pre {
    overflow-x: scroll;
}

/* Items */
div.content {
    padding: 20px;
}

ul.list {
    margin: 0;
    padding: 0 5px;
    border: 1px solid #efefef;
    border-radius: 5px;
}

ul.list li {
    display: block;
    border-top: 1px solid #eee;
    overflow: hidden;
    cursor: pointer;
}

ul.list li:hover {
    background: #fafafa;
}

ul.list li:first-child {
    border-top: 0;
}

ul.list li a.title {
    display: block;
    float: left;
    padding: 5px 0 5px 20px;
    background: none no-repeat left center;
}

ul.list li.directory a.title {
    background-image: url(../img/folder.png);
}

ul.list li.file a.title {
    background-image: url(../img/page_white.png);
}

ul.list li.file.image a.title {
    background-image: url(../img/page_white_picture.png);
}

ul.list li.file.py a.title,
ul.list li.file.css a.title,
ul.list li.file.js a.title,
ul.list li.file.xml a.title {
    background-image: url(../img/page_white_code.png);
}

ul.list li.file.log a.title,
ul.list li.file.txt a.title,
ul.list li.file.nfo a.title {
    background-image: url(../img/page_white_text.png);
}

ul.list li.file.rb a.title {
    background-image: url(../img/page_white_ruby.png);
}

ul.list li.file.sql a.title {
    background-image: url(../img/page_white_database.png);
}

ul.list li.file.html a.title {
    background-image: url(../img/page_white_world.png);
}

ul.list li.file.php a.title {
    background-image: url(../img/page_white_php.png);
}

ul.list li span.size {
    display: inline-block;
    color: #aaa;
    padding: 5px 0;
    margin: 0 10px;
}

ul.list li span.progress {
    display: inline-block;
    float: left;
    border: 1px solid #eee;
    height: 7px;
    margin: 7px 0 7px 7px;
    width: 100px;
}

ul.list li span.progress span.meter {
    display: block;
    width: 0%;
    background: #0c0;
    height: 7px;
}

ul.list li span.cancel-upload {
    margin: -1px 0 0 5px;
    color: #900;
}

ul.list li a.copy,
ul.list li a.move,
ul.list li a.rename,
ul.list li a.delete {
    padding: 5px;
    background: none;
    float: right;
    height: 16px;
    width: 16px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: none no-repeat center center;
}

ul.list li a.copy {
    background-image: url(../img/page_add.png);
}

ul.list li a.move {
    background-image: url(../img/page_delete.png);
}

ul.list li a.rename {
    background-image: url(../img/pencil.png);
}

ul.list li a.delete {
    background-image: url(../img/delete.png);
}

div.upload {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #999;
    padding: 10px 0;
    margin: 0 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    -webkit-transition: 0.5s;
}

div.upload.active {
    background: #ffc;
    color: #000;
}

div.upload a {
    font-size: inherit;
    color: #22a;
    text-decoration: underline;
}
